IMPORTING DATA FROM QUANDL USING QUANDL API

In [8]:
import pandas as pd
import math
import quandl
data = quandl.get("WIKI/GOOGL")
data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [9]:
data= data[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
data.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [10]:
data['HL_PCT'] = (data['Adj. High']-data['Adj. Close'])/data['Adj. Close']*100.00
data['PCT_change'] = (data['Adj. Close']-data['Adj. Open'])/data['Adj. Open']*100.00
data.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658

In [11]:
data = data[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]
forcast_col = 'Adj. Close'
data.fillna(-99999, inplace = True)
forcast_out = int(math.ceil(0.1*len(data)))
print(len(data))
print(forcast_out)
data['label'] = data[forcast_col].shift(-forcast_out)
data.dropna(inplace=True)
data.head()
data.tail()

3424
343

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
Date
2016-11-04      781.10  0.944821    1.270582    1970603.0  1094.00
2016-11-07      802.03  0.370310    0.890622    1992570.0  1053.15
2016-11-08      811.98  0.500012    1.240602    1769069.0  1026.55
2016-11-09      805.59  0.759692    0.468927    3098510.0  1054.09
2016-11-10      780.29  3.815248   -3.667901    5909609.0  1006.94

# Model building and checking accuracy

In [16]:
import numpy as np
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
X = np.array(data.drop(['label'],1))
X = preprocessing.scale(X)
X_lately = X[-forcast_out:]
X = X[:-forcast_out]
y = np.array(data['label'][:-forcast_out])
#y = np.array(data['label'])
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)
clf = LinearRegression()
clf.fit(X_train, y_train)
Accuracy  = clf.score(X_test, y_test)
Forcast_set = clf.predict(X_lately)
print(Forcast_set, Accuracy, forcast_out)

[664.46683816 661.85919622 659.22919857 675.39284918 698.94426264
 716.9097489  707.83016511 729.52077436 833.01251471 827.82205183
 848.74902676 854.4474243  823.06933936 799.78555261 803.41842901
 790.30679569 788.24332551 801.95448662 789.25992313 799.78352336
 796.45761033 818.40474951 800.28890849 794.98065041 800.46327481
 829.38407843 823.28514628 825.61627644 827.90288994 829.87778521
 828.22346833 836.04448682 827.38022966 794.68334739 800.9038173
 768.29398719 799.95969203 798.81037422 792.59965042 795.19880958
 774.71036642 772.70644242 776.67504306 758.8933745  770.23549346
 784.82935058 788.70290347 783.23895579 779.66915444 804.6008305
 795.77746467 819.69858298 795.35296463 796.62778254 781.66316105
 790.99343107 786.94369948 780.65524081 766.97690846 763.23896339
 766.01465076 770.3250596  799.69887001 808.61026318 812.22323859
 804.6768012  798.67952468 805.7047276  812.67698945 827.48339683
 822.73456663 829.15919658 825.32250175 835.22192724 823.87259342
 812.68854015 821.37529977 878.2253854  879.3412406  876.78262541
 874.59580679 889.96672653 880.17421554 891.65447724 892.09390976
 903.48675754 908.16742371 903.25435357 902.86572424 903.46297602
 911.25988442 906.19138789 889.00562913 895.47996543 891.33126177
 907.32202569 903.4220864  924.53823192 925.86895765 915.05600468
 913.03378525 918.12012232 914.18355094 938.9217224  936.03825621
 923.8055235  930.43173581 919.70130893 928.94334588 915.40553003
 904.89409024 898.87424986 910.16190046 914.99945391 930.48122522
 919.2326307  912.22836993 905.75200159 912.79705859 911.1800548
 909.48989719 933.24314464 948.42420258 939.36891819 927.45558519
 896.19085663 909.03567951 913.40845514 893.81412301 883.59822148
 869.7072404  888.46524691 886.26322166 883.8377819  862.83623461
 859.99856316 872.06689529 883.038588   887.81756947 891.43280294
 876.66319257 866.5494866  894.75821751 911.51697987 913.76317418
 946.2507332  921.30575494 872.32035914 851.18849032 844.25488376
 870.04796315 860.61938852 853.39548801 848.17813286 857.02980869
 871.44015357 867.87055793 862.90295675 871.79241305 865.51948435
 861.97372463 867.90687604 869.72451367 868.87039471 892.51795892
 877.39999888 874.72463918 866.93733183 857.29391427 863.41086446
 867.68786739 876.15498896 884.02013542 897.50976254 894.81172386
 904.1640383  906.99867945 896.71410451 908.7552983  908.07059351
 904.12160128 899.22956294 897.03275725 915.35511919 921.40048577
 906.88695242 919.0008193  912.6296637  904.1519894  915.88113991
 909.79908451 905.60220416 904.99292697 908.40718828 918.31439487
 922.37085779 925.13948643 935.86797635 928.48995992 918.76138678
 920.95444145 886.16877878 886.02838705 876.84350239 857.75405966
 861.86625935 847.0311793  849.52939406 843.98244769 852.75874609
 851.19000494 869.71739836 873.10600633 878.693459   874.311361
 871.42973066 868.22895178 873.79569861 871.44942418 863.62358049
 853.78601462 868.9880911  858.61322516 879.46923513 878.24710863
 879.79076465 891.90983536 891.95171009 890.3395034  883.20430484
 876.03618072 871.75918334 873.50074817 882.36186808 885.64557121
 876.44063006 880.64663298 875.69656956 873.20430862 863.68228078
 847.10243844 849.53338734 850.5378669  845.32806555 849.02049595
 840.32211078 808.68403295 821.62786478 831.84589217 838.03927123
 849.69482975 841.10368169 855.1240584  841.48929378 856.08760295
 870.13414726 872.68489811 869.6150031  873.02192462 874.85108902
 904.98552661 898.40541959 903.46015941 896.56296891 899.39574317
 899.32800219 898.30894019 906.23137777 903.33061818 942.68253909
 962.9062963  947.85396524 944.60570286 944.580158   955.833284
 952.55578134 962.85850949 958.45471384 960.01375129 953.63285177
 958.42479735 948.25836755 954.23205067 953.66762994 945.62187285
 943.21966288 944.3080534  941.50807513 938.64087778 946.3447984
 945.95444222 943.57552    935.16274779 935.49409237 941.19815099
 963.0478043  956.81340646 953.92940193 943.26375536 954.1518207
 937.19959684 944.32312235 956.6898009  940.40157142 948.02977715
 948.09455022 953.12603255 969.91979361 963.12151362 952.62884882
 966.43339277 959.14964333 960.97874314 954.08046227 946.84049153
 950.82643378 953.01182264 952.59140075 948.86251256 971.79877594
 966.47132919 961.49960543 950.26175699 955.5260428  962.78456358
 982.87455181 979.75657697 974.07709642 973.31320463 991.0308995
 983.00695602 972.62573341 970.50785892 983.36368716 964.04431865
 957.28094218 944.79352921 932.73876015 940.63967937 954.54043532
 970.01512996 959.15461488 940.29131986] 0.7641878079779869 343