In [2]:
xt = open("WorldCups.csv",'r').readlines()
print(xt)

['Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance\n', '1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549\n', '1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000\n', '1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700\n', '1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246\n', '1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607\n', '1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.810\n', '1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172\n', '1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135\n', '1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975\n', '1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753\n', '1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791\n', '1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723\n', '1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2.394.031\n', '1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2.516.215\n', '1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538\n', '1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100\n', '2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2.705.197\n', '2006,Germany,Italy,France,Germany,Portugal,147,32,64,3.359.439\n', '2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3.178.856\n', '2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810\n']

In [5]:
class calculator:
    'jdsfhljdsfsdkfhdskfhsdfj'
    def addition(x, y):
        return x+y 
 
calculator.__doc__

'jdsfhljdsfsdkfhdskfhsdfj'

In [11]:
#!/usr/bin/python3

class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print ("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)


#This would create first object of Employee class"
emp1 = Employee("Zara", 2000)
#This would create second object of Employee class"
emp2 = Employee("Manni", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print ("Total Employee %d" % Employee.empCount)
getattr(emp1, 'name', 'salary')

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

'Zara'

In [7]:
list2 = [(x, x**2, y) for x in range(5) if x!=0 for y in range(3) if x != 2]
print(list2)

[(1, 1, 0), (1, 1, 1), (1, 1, 2), (3, 9, 0), (3, 9, 1), (3, 9, 2), (4, 16, 0), (4, 16, 1), (4, 16, 2)]

In [4]:
import pandas as pd 
df = pd.read_json('data1.json')
df.head()

,AC,Bath_room,Bed_room,Build_Size,Garage,Heating,Plot_Size,Pool,WC,property_description,property_name,property_price
0,NO,2,2,70 m,YES,NO,NaN,YES,NaN,Stunning apartment in an Urbanization aimed at...,"Flat for sale in Muchamiel / Mutxamel, Alicante","82,000"
1,NO,4,3,266 m,NO,NO,821 m,YES,NaN,The interior of the house is of a singular des...,"Villa for sale in Benitachell / Benitatxell, A...","1,120,000"
2,NO,1,2,63 m,NO,NO,9 m,YES,NaN,These modern apartments are built only 10 minu...,"Apartment for sale in Villamartin, Alicante","116,000"
3,NO,2,2,71 m,NO,NO,20 m,YES,NaN,These apartments are built only a few minutes ...,"Apartment for sale in Villamartin, Alicante","147,000"
4,YES,5,4,712 m,NO,YES,22166 m,YES,NaN,"TESORO DE ORO . . This superb, idyllic estate ...","Villa for sale in Cala Jondal, Ibiza","6,600,000"